<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="com.mall.pojo.Cart" >
    <constructor >
      <idArg column="cart_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cart_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cart_product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cart_quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cart_checked" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cart_create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cart_update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    cart_id, cart_user_id, cart_product_id, cart_quantity, cart_checked, cart_create_time, 
    cart_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mall_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mall_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mall.pojo.Cart" >
    insert into mall_cart (cart_id, cart_user_id, cart_product_id, 
      cart_quantity, cart_checked, cart_create_time, 
      cart_update_time)
    values (#{cartId,jdbcType=INTEGER}, #{cartUserId,jdbcType=INTEGER}, #{cartProductId,jdbcType=INTEGER}, 
      #{cartQuantity,jdbcType=INTEGER}, #{cartChecked,jdbcType=INTEGER}, now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.mall.pojo.Cart" >
    insert into mall_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="cartUserId != null" >
        cart_user_id,
      </if>
      <if test="cartProductId != null" >
        cart_product_id,
      </if>
      <if test="cartQuantity != null" >
        cart_quantity,
      </if>
      <if test="cartChecked != null" >
        cart_checked,
      </if>
      <if test="cartCreateTime != null" >
        cart_create_time,
      </if>
      <if test="cartUpdateTime != null" >
        cart_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="cartUserId != null" >
        #{cartUserId,jdbcType=INTEGER},
      </if>
      <if test="cartProductId != null" >
        #{cartProductId,jdbcType=INTEGER},
      </if>
      <if test="cartQuantity != null" >
        #{cartQuantity,jdbcType=INTEGER},
      </if>
      <if test="cartChecked != null" >
        #{cartChecked,jdbcType=INTEGER},
      </if>
      <if test="cartCreateTime != null" >
        now(),
      </if>
      <if test="cartUpdateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.pojo.Cart" >
    update mall_cart
    <set >
      <if test="cartUserId != null" >
        cart_user_id = #{cartUserId,jdbcType=INTEGER},
      </if>
      <if test="cartProductId != null" >
        cart_product_id = #{cartProductId,jdbcType=INTEGER},
      </if>
      <if test="cartQuantity != null" >
        cart_quantity = #{cartQuantity,jdbcType=INTEGER},
      </if>
      <if test="cartChecked != null" >
        cart_checked = #{cartChecked,jdbcType=INTEGER},
      </if>
      <if test="cartCreateTime != null" >
        cart_create_time = #{cartCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cartUpdateTime != null" >
        cart_update_time = now(),
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.pojo.Cart" >
    update mall_cart
    set cart_user_id = #{cartUserId,jdbcType=INTEGER},
      cart_product_id = #{cartProductId,jdbcType=INTEGER},
      cart_quantity = #{cartQuantity,jdbcType=INTEGER},
      cart_checked = #{cartChecked,jdbcType=INTEGER},
      cart_create_time = #{cartCreateTime,jdbcType=TIMESTAMP},
      cart_update_time = #{cartUpdateTime,jdbcType=TIMESTAMP}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <select id="selectCartByUserIdAndProductId" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM mall_cart
    WHERE cart_user_id = #{userId}
    And cart_product_id = #{productId}
  </select>
  <select id="selectCartByUserId" parameterType="int" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM mall_cart
    WHERE cart_user_id = #{userId}
  </select>
  <select id="selectCartProductCheckedStatusByUserId" parameterType="int" resultType="int">
    SELECT COUNT(1)
    FROM mall_cart
    WHERE cart_checked = 0
    AND cart_user_id = #{userId}
  </select>
  <delete id="deleteByUserIdAndProductIds" parameterType="map">
    DELETE FROM mall_cart
    WHERE cart_user_id = #{userId}
    <if test="productIdList != null">
      AND cart_product_id in
      <foreach collection="productIdList" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </delete>
  <update id="checkedOrUnCheckedProduct" parameterType="map">
    UPDATE mall_cart
    SET cart_checked = #{checked},
    cart_update_time = now()
    WHERE cart_user_id = #{userId}
    <if test="productId != null">
      AND cart_product_id = #{productId}
    </if>
  </update>
  <select id="selectCartProductCount" parameterType="int" resultType="int">
    SELECT IFNULL(sum(cart_quantity), 0) AS COUNT
    FROM mall_cart
    WHERE cart_user_id = #{userId}
  </select>
  <select id="selectCheckedCartByUserId" parameterType="int" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM mall_cart
    WHERE cart_user_id = #{userId}
    AND cart_checked = 1;
  </select>
</mapper>