<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.mall.pojo.Product" >
    <constructor >
      <idArg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_subtitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_main_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_sub_images" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="product_stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="product_update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_category_id, product_name, product_subtitle, product_main_image, 
    product_sub_images, product_detail, product_price, product_stock, product_status, 
    product_create_time, product_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mall_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mall_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mall.pojo.Product" >
    insert into mall_product (product_id, product_category_id, product_name, 
      product_subtitle, product_main_image, product_sub_images, 
      product_detail, product_price, product_stock, 
      product_status, product_create_time, product_update_time
      )
    values (#{productId,jdbcType=INTEGER}, #{productCategoryId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{productSubtitle,jdbcType=VARCHAR}, #{productMainImage,jdbcType=VARCHAR}, #{productSubImages,jdbcType=VARCHAR}, 
      #{productDetail,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, #{productStock,jdbcType=INTEGER}, 
      #{productStatus,jdbcType=INTEGER}, now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.mall.pojo.Product" >
    insert into mall_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productCategoryId != null" >
        product_category_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productSubtitle != null" >
        product_subtitle,
      </if>
      <if test="productMainImage != null" >
        product_main_image,
      </if>
      <if test="productSubImages != null" >
        product_sub_images,
      </if>
      <if test="productDetail != null" >
        product_detail,
      </if>
      <if test="productPrice != null" >
        product_price,
      </if>
      <if test="productStock != null" >
        product_stock,
      </if>
      <if test="productStatus != null" >
        product_status,
      </if>
      <if test="productCreateTime != null" >
        product_create_time,
      </if>
      <if test="productUpdateTime != null" >
        product_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productCategoryId != null" >
        #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSubtitle != null" >
        #{productSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="productMainImage != null" >
        #{productMainImage,jdbcType=VARCHAR},
      </if>
      <if test="productSubImages != null" >
        #{productSubImages,jdbcType=VARCHAR},
      </if>
      <if test="productDetail != null" >
        #{productDetail,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productStock != null" >
        #{productStock,jdbcType=INTEGER},
      </if>
      <if test="productStatus != null" >
        #{productStatus,jdbcType=INTEGER},
      </if>
      <if test="productCreateTime != null" >
        now(),
      </if>
      <if test="productUpdateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.pojo.Product" >
    update mall_product
    <set >
      <if test="productCategoryId != null" >
        product_category_id = #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSubtitle != null" >
        product_subtitle = #{productSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="productMainImage != null" >
        product_main_image = #{productMainImage,jdbcType=VARCHAR},
      </if>
      <if test="productSubImages != null" >
        product_sub_images = #{productSubImages,jdbcType=VARCHAR},
      </if>
      <if test="productDetail != null" >
        product_detail = #{productDetail,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productStock != null" >
        product_stock = #{productStock,jdbcType=INTEGER},
      </if>
      <if test="productStatus != null" >
        product_status = #{productStatus,jdbcType=INTEGER},
      </if>
      <if test="productCreateTime != null" >
        product_create_time = #{productCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productUpdateTime != null" >
        product_update_time = now(),
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.pojo.Product" >
    update mall_product
    set product_category_id = #{productCategoryId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      product_subtitle = #{productSubtitle,jdbcType=VARCHAR},
      product_main_image = #{productMainImage,jdbcType=VARCHAR},
      product_sub_images = #{productSubImages,jdbcType=VARCHAR},
      product_detail = #{productDetail,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_stock = #{productStock,jdbcType=INTEGER},
      product_status = #{productStatus,jdbcType=INTEGER},
      product_create_time = #{productCreateTime,jdbcType=TIMESTAMP},
      product_update_time = now()
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <select id="selectList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM mall_product
    ORDER BY product_id ASC
  </select>
  <select id="selectByProductNameAndProductId" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM mall_product
    <where>
      <if test="productName != null">
        AND product_name LIKE #{productName}
      </if>
      <if test="productId != null">
        AND product_id = #{productId}
      </if>
    </where>
  </select>
  <select id="selectByNameAndCategoryIds" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM mall_product
    WHERE product_status = 1
    <if test = "productName != null">
      AND product_name LIKE #{productName}
    </if>
    <if test = "categoryIdList != null">
      AND category_id IN
      <foreach item = "item" index = "index" open = "(" separator = "," close = ")" collection = "categoryIdList">
        #{item}
      </foreach>
    </if>
  </select>
</mapper>